<div class="container py-5">
    <div class="row py-2">
        <div class="col-lg-7 pb-5 pb-lg-0 px-3 px-lg-5">
            <h4 class="text-secondary mb-3">La mejor bot de Pokémon</h4>
            <h1 class="display-4 mb-4"><span class="text-primary">Serena</span>Bot
            <h5 class="text-muted mb-3">Serena en Discord te permite vivir como un entrenador Pokémon, cazando formas legendarias, evolucionando Pokémon, y ganando medallas. Puedes intercambiar, cuidar a tu mascota Pokémon y participar en concursos de belleza o carisma. Además, competirás en la liga Pokémon del bot tras ganar gimnasios.</p>
            <ul class="list-inline">
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Capturas pokémon</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Batallas e intercambios</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Ligas oficiales</h5></li>
                <li><h5><i class="fa fa-check-double text-secondary mr-3"></i>Pokémon del fandom</h5></li>
            </ul>
            <a href="" class="btn btn-lg btn-primary mt-3 px-4">Añadir a la bot</a>
        </div>
        <div class="col-lg-5 d-flex align-items-center">
            <div class="row px-3">
                <div class="col-12 p-0">
                    <img class="img-fluid w-100" src="/img/about_gif.gif" alt="">
                </div>
            </div>
        </div>
    </div>
</div>