<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>Serena</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <link href="/img/logo.png" rel="icon">
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans&family=Nunito:wght@600;700;800&display=swap" rel="stylesheet"> 
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
        <link href="/css/flaticon.css" rel="stylesheet">
        <link href="/css/owl.carousel.min.css" rel="stylesheet">
        <link href="/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet">
    </head>
    <body>
        <%- include('topbar') %>
        <%- include('navbar') %>